PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://shivpra75_db_user:2cPrMwLyX3BTdVIu@cluster70.frlkkwc.mongodb.net/devopshub?retryWrites=true&w=majority&appName=Cluster70
CLIENT_URL=http://localhost:5173
